.vs/ 
ipch/
x64/
Reference/
*.vsidx
*.lock
*.sqlite
*.ilk 
*.pdb 
*.obj 
*.log 
*.pch 
*.idb 
*.tlog 
*.lastbuildstate 
*.suo 
*.db 
*.uasset
libprotobufd.lib
ProtocolBufferD.lib
Engine.lib
EngineD.lib
ServerProtocol/
Config/
Content/
Binaries/
Config/
DerivedDataCache/
Saved/
Intermediate/
